<html *ngFor="let crs of coursecategory">
    <div class="container">
        <div >
            <h4 class="text-success">{{crs.catName}}</h4>
            <p class="text-success">Learn Programming Language  at your own pace and Become an expert</p>
            <hr  style="border:1px solid rgb(18, 218, 35) ; ">
        </div>
        <br>
        <br>
      <!--Carousel Wrapper-->
         <div attr.id="{{crs.categoryID}}" class="carousel slide carousel-multi-item" data-ride="carousel" >
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example2" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
      
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
      
            <div class="col-md-3" style="float:left">
             <div class="card mb-2">
               <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="../../assets/images/c++.jpg" alt="Card image cap"style="height: 10rem">
                    <div class="card-body">
                       <h5 class="card-title">C++ Tutorial</h5>
                       <p class="card-text">Learn and practice C++ Tutorial with ULearn </p>
                       <button type="button" class="btn btn-success" >Goto Course</button>
                    </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="../../assets/images/Ruby-Prgramming.jpg" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                          <h5 class="card-title"> Ruby Tutorial</h5>
                          <p class="card-text">Learn and practice Rubby Tutorial with ULearn  </p>
                          <button type="button"  class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="/assets/images/jjjava.jpg" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                          <h5 class="card-title">Java Tutorial</h5>
                          <p class="card-text">Learn and practice Java Tutorial with ULearn </p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                 </div>
            </div>
            
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="/assets/images/cccc.png" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                        <h5 class="card-title">C# Tutorial</h5>
                        <p class="card-text">Learn and practice C# Tutorial with ULearn </p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
      
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="/assets/images/kotlin.png" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                        <h5 class="card-title">Kotlin</h5>
                        <p class="card-text">Learn and practice Kotlin Proramming with ULearn</p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="/assets/images/cpgm.jpg" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                        <h5 class="card-title">C Tutorial</h5>
                          <p class="card-text">Learn and practice C Tutorial with ULearn</p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
      
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="../../assets/images/swift.png" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                        <h5 class="card-title">Swift 4 Fundamentals</h5>
                        <p class="card-text">Learn and practice Swift 4 Fundamentals with ULearn </p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <div class="card mx-auto" style="width: 16rem; height: auto">
                     <img class="card-img-top" src="/assets/images/python.png" alt="Card image cap"style="height: 10rem">
                       <div class="card-body">
                        <h5 class="card-title">Python Tutorial</h5>
                        <p class="card-text">Learn and practice Python Tutorial with ULearn </p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                       </div>
                   </div>
                </div>
            </div>
      
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        <span class="carousel-control-prev" attr.href="'#' + crs.categoryID" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
            <span class="sr-only ">Previous</span>
        </span>
        <span class="carousel-control-next" attr.href="'#' + crs.categoryID" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </span> 
      
      </div>
      </div>
      <!--/.Carousel Wrapper-->
      
      <br>
      <br>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
</html>





<!-- <!DOCTYPE html>

<html>
<head>
	<title>Cards in Carousel</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="coursecategory" *ngFor="let category of categories" >
    {{category}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="inam" class="carousel slide" data-interval="false" >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                             <div class="container">
                                 <div class="row">
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/a.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Java Developer</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info">Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/b.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Python course</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info">Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/c.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">C++ expert</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info">Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     
                                 </div>
                                 
                             </div>
    
                            
                        </div>
                        <div class="carousel-item">
                             <div class="container">
                                 <div class="row">
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/d.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">OOP language</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info" >Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/e.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Learn C#</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info">Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="images/f.jpg" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Perl and Ruby course</h4>
                                                 <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                                                 <button type="button" class="btn btn-primary" id="gotocourse">Goto course</button>
                                                 <button type="button" class="btn btn-info">Enroll Course</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     
                                 </div>
                                 
                             </div>
    
                            
                        </div>
                        
                    </div>
                    <a href="#inam" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#inam" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>


</body>
</html> -->