<div class="spinners" *ngIf="object">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow text-info" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>

<ng-container *ngIf="!object">
    <br/>

<h2 class="text-center text-warning font-weight-bold">{{courseName}}</h2>
<h3 class="text-center text-secondary font-weight-bold">SYLLABUS - WHAT YOU WILL LEARN FROM THIS COURSE</h3>

<div class="container" *ngFor="let week of courses; let i=index">
    
      <!--1-->
      <div>
        <br/>
        <h3 class="text-success">WEEK {{i+1}}</h3> 
        <hr  style="border:1px solid rgb(18, 218, 35) ; ">
    </div>
    
    <div >
    
    <strong>
    <p class="text-secondary"><img class="materialboxed" width="40" src="https://raw.githubusercontent.com/PKanaki/UIcorses/master/src/assets/clk.png">  1 hour to complete  </p>
    </strong>
    <h4 class="font-weight-bold">{{week.topicName}}</h4>
    <p>{{week.description}}</p>
    
    <div id="accordion">

        <div id="heading{{i}}">
            <h5 class="mb-0">
                <p class="text-muted"><img class="materialboxed" width="40" src="https://raw.githubusercontent.com/PKanaki/UIcorses/master/src/assets/book.png">  Videos , Readings & Quiz
                    <button class="btn btn-light btn-sm" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                    See All
                </button>
                </p>
                
            </h5>
        </div>
            <hr>
        <div id="collapse{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
            <div class="card-body">
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="60" src="https://raw.githubusercontent.com/PKanaki/UIcorses/master/src/assets/play.png">  Videos </p>
                </strong>
                <div class="video-class">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                </div>
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="https://raw.githubusercontent.com/PKanaki/UIcorses/master/src/assets/book.png">  Readings </p>
                </strong>
                <ul class="text-secondary">
                    <li>Important Update regarding the Machine Learning Specialization 10m</li>
                    <li>Slides presented in this module 10m</li>
                    <li>Outlining the first half of the course 5m</li>
                </ul> 
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="https://raw.githubusercontent.com/PKanaki/UIcorses/master/src/assets/q.jpg">  Quiz </p>
                </strong>
                <ul class="text-secondary">
                    <li><button type="button" class="btn btn-link" routerLink="/quiz" (click)="getquizID(week.quizID,week.topicName)">{{week.topicName}} quiz</button></li>
                    
                </ul> 
            </div>
        </div>
    
    </div>
  </div>    

</div>



</ng-container>
